<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="PHPUnit" type="PHPUnitRunConfigurationType" factoryName="PHPUnit">
    <TestRunner scope="XML" />
    <method v="2">
      <option name="RunConfigurationTask" enabled="true" run_configuration_name="Recreate DB" run_configuration_type="PhpLocalRunConfigurationType" />
    </method>
  </configuration>
</component>